body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #222;
}

header {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 20px;
}

/* productos */

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px;
}

/* contacto */